/* The rules page */

/* Making the page to a flexbox for ease of use */
main{
	/* Making to a flexbox */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/* The text */
#ConHead{
	/* Text */
	font-size: var(--big-text);
	color: var(--black-text-color);
	/* Adding padding */
	padding: var(--big-text);
	/* Width */
	width: 90vw;
	/* Border */
	border-bottom: solid calc(var(--headr-li-spacing) / 4) var(--black-color);
}
#ConCon{
	/* Text */
	font-size: var(--mid-text);
	color: var(--black-text-color);
	/* Adding padding */
	padding: var(--mid-text);
	margin: var(--mid-text);
	/* Border-radius */
	border-radius: var(--small-text);
}

/* How to contact itself */
.ConInfo{
	font-size: var(--mid-text);
}

/* To fit the email adderss */
@media only screen and (max-width: 400px){

/* How to contact itself */
.ConInfo{
	font-size: var(--regoler-text);
}

}
/* Making the font size smaller for smaller screen */
@media only screen and (max-width: 400px){
	#ConCon{
		font-size: var(--s-mid-text);
	}
}
