/* ----------- Header and footer sections ----------- */
/* The header */
header {
	/* Sticking to the top of the page */
	position: sticky;
	top: 0;
	width: 100%;
	background-color: var(--nav-color);
	color: var(--nav-text-color);
	padding: var(--small-text); /* Add padding to the header */
	/* Shadow */
	 box-shadow: 0px calc(var(--headr-li-spacing)*1.5) calc(var(--headr-li-spacing)*2.5)  rgba(0, 0, 0, 0.3);
}

/* Hiding the button for operating the nav when on a phone by default */
#NavHide{
	display: none;
	width: var(--big-text);
}

/* The nav */
nav {
	width: 100%;
	/* Flexbox */
	display: inline-flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	/* Alignment */
	text-align: center;
	align-items: center;
}

/* The list of locations in the website */
nav ul {
	/* To cover the width of the page */
	width: 100%;
	/* Flexbox */
	display: inline-flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	/* List style */
	list-style-type: none;
}

nav ul li {
	font-size: var(--regoler-text);
	margin: var(--headr-li-spacing); /* Add margin for spacing between list items */
}

/* The links in the nav */
nav a,
nav ul li a{
	text-decoration: none;
	color: var(--nav-text-color);
	/* Transition time */
	transition: background-color var(--transition-time), color var(--transition-time); /* Smooth color transition on hover */
	/* Padding */
	padding: var(--small-text);
	/* Border look */
	border-radius: var(--border-radios-standrd);
	/* Link on one line */
	white-space: nowrap; /* Prevent text from wrapping */
	/* Alignment */
	text-align: center;
	display: flex;
	/* For when using a smartphone the links are to the right */
	justify-content: start;
	align-items: center;
}

/* Hovering on the links in the nav */
nav a:hover {
	/* Change text color on hover, Reversing the colors */
	color: var(--nav-color); 
	background-color: var(--nav-text-color);
	/* Cursor to pointer */
	cursor: pointer;
}

/* ID: Buy now */
.BuyNow{
	/* Margin */
	margin: calc(var(--small-text)/2);
	/* Border */
	border-radius: calc(var(--border-radios-standrd) / 2);
	border: var(--border-width-standrd) solid var(--button-color);
	/* Button color */
	color: var(--button-text-color);
	background-color: var(--button-color);
	/* Transition time */
	transition: background-color calc(2 * var(--transition-time)), color calc(2 * var(--transition-time)), border calc(2 * var(--transition-time)); /* Smooth color transition on hover */
}

/* Hovering ID: Buy now */
.BuyNow:hover{
	/* Button color */
	color: var(--button-color);
	background-color: var(--button-text-color);
	border: var(--border-width-standrd) solid var(--button-text-color);
}

/* ID: The Rubon name */
#NavHomeRubon{
	/* Margin */
	margin: calc(var(--small-text)/2);
	/* Border */
	border-radius: calc(var(--border-radios-standrd) / 2);
	/* Button color */
	color: var(--white-text-color);
	background-color: var(--nav-color);
	/* Transition time */
	transition: color calc(2 * var(--transition-time)), border calc(2 * var(--transition-time)); /* Smooth color transition on hover */
	/* Text size */
	font-size: var(--mid-text);
}

/* ID: The Rubon name */
#NavHomeRubon:hover{
	/* Button color */
	color: var(--button-text-color);
}

/* The footer */
footer {
	/* Centering the content */
	text-align: center;
	/* Content color */
	background-color: var(--text-color);
	color: var(--bakcground-color);
	/* Padding */
	padding: 1%;
	/* Transition time */
	transition: background-color calc(2 * var(--transition-time)) linear, color calc(2 * var(--transition-time)) linear; /* Smooth color transition on hover */
	/* Making the footer to be at the bottom of the page */
	margin-top: auto;
}

/* Hovering on the footer */
footer:hover{
	/* Reversing the colors */
	color: var(--text-color);
	background-color: var(--bakcground-color);
}

/* PAY ATTENTION - there is anter setting for the body - in the root style file */
body{
	/* Making the footer to be at the bottom of the page */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
