/* ----------- Root vars ----------- */
:root {
	/* Header items spacing */
	--headr-li-spacing:4px;
	/* Text */
	--biger-text: 3rem;
	--big-text: 2rem;
	--mid-text: 1.5rem;
	--s-mid-text: calc(var(--mid-text) / 1.2);
	--regoler-text: 1rem;
	--small-text: 0.7rem;
	/* Color */
	--white-text-color: #fcfcfc;
	--white-color: rgba(240,240,240,0.7);
	--black-color: rgba(10,10,10,0.85);
	--black-text-color: rgba(10,10,10);
	--text-color: #330454;
	--bakcground-color: #ebdab0;
	/* Transition color */
	--white-2: #faf7f0;
	--white-3: #faf5e8;
	--white-4: #faf3de;


	--nav-color: #2e2412;
	--nav-text-color: #e3c1f5;

	--button-color: rgb(153, 103, 219);
	--button-text-color: var(--bakcground-color);
	/* Border */
	--border-width-standrd: 2px;
	--border-radios-standrd: var(--regoler-text);
	/* Transition time */
	--transition-time: 0.3s;
}

html {
	/* Default font */
	font-size: 16px;
	font-family: Verdana, sans-serif;
}

/* Settings for all */
* {
	/* For Hebrew */
	direction: rtl;
	/* Resetting the box model */
	box-sizing: border-box;
	/* Resetting margins and paddings */
	margin: 0;
	padding: 0;
	/* Standard font size */
	font-size: var(--regoler-text);
	/* Bold font for readably */
	font-weight: bold;
}


/* ----------- Main ----------- */
/* Images */
img {
	/* So the images will not overflow the screen */
	max-width: 100%;
}

/* The pages */
body {
	/* Background color */
	background-color: var(--bakcground-color);
}

/* The main content */
main{
	word-spacing: calc(var(--small-text) / 2) ;
	line-height: var(--biger-text);
}

/* Making the links more modern */
a {
	text-decoration: none;
}

/* Divs for reading */
div {
	/* Basic color of the website for the text */
	color: var(--text-color);
}

/* If needed in the future */
/* Making the divs to be spacey */
/* Making the divs to take the width */
/*
padding: var(--mid-text);
width: calc(100vw, - var(--mid-text));
*/
